<link rel="stylesheet" href="/css/user_profile.css">


<div id="profile-container">
    <h1>Codeial Page of
        <%= title %>
    </h1>
<div id="profile-image">
    <img src="<%= profile_user.avatar %>" alt="Profile Image">
</div>
    <p>
        User :
        <%= profile_user.name %>
    </p>
    <p>
        Email:
        <%= profile_user.email %>
    </p>
    <p>
        <%= profile_user %>
    </p>

    <% if(user.id == profile_user.id){ %> 

        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="file" name="avatar" placeholder="profile Picture">
            <input type="submit" value="Update">
        </form>
    <% }else { %>
        <h3>Not a logedIn User</h3>
        <% } %>  

        <div id="posts-list-container">
<h1>Posts</h1>
            <ul>
                <% for(post of posts) { %>
                    <% if(post.user.id == profile_user.id) { %> 
                <%- include('_post') -%>
                <% } %> 
                <% } %>
            </ul>

        </div>


    <script></script>