<link rel="stylesheet" href="/css/user_profile.css">


<div id="profile-container">
    <h1>Codeial Page of
        <%= title %>
    </h1>

    <p>
        User :
        <%= profile_user.name %>
    </p>
    <p>
        Email:
        <%= profile_user.email %>
    </p>
    <p>
        <%= profile_user.createdAt %>
    </p>

    <% if(user.id == profile_user.id){ %> 

        <form action="/users/update/<%= profile_user.id %>" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="submit" value="Update">
        </form>
    <% }else { %>
        <h3>Not a logedIn User</h3>
        <% } %>  



    <script></script>